apiVersion: apps/v1
kind: Deployment
metadata:
  name: todo-app
  namespace: wiz-exercise
  labels:
    app: todo-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: todo-app
  template:
    metadata:
      labels:
        app: todo-app
    spec:
      serviceAccountName: todo-app-sa
      containers:
      - name: todo-app
        image: AWS_ACCOUNT_ID.dkr.ecr.eu-central-1.amazonaws.com/wiz-exercise-todo-app:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 8080
        env:
        - name: MONGODB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: mongodb-connection-csi
              key: password
        - name: MONGODB_URI
          value: "mongodb://todoapp:$(MONGODB_PASSWORD)@mongodb-external:27017/tododb"
        volumeMounts:
        - name: mongodb-secrets
          mountPath: "/mnt/secrets-store"
          readOnly: true
        resources:
...
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8080
          initialDelaySeconds: 15
          periodSeconds: 20
      volumes:
      - name: mongodb-secrets
        csi:
          driver: secrets-store.csi.k8s.io
          readOnly: true
          volumeAttributes:
            secretProviderClass: "mongodb-secret-provider"
